{% extends "base.html.tera" %}
{% block title %}Login Error{% endblock title %}

{% block content %}
<h1>Login error</h1>
<p>You have entered an invalid username and/or password.</p>
<p>Try again <a href="/login">here</a>.</p>
{% endblock content %}