{% extends "base.html.tera" %}
{% block title %}Login{% endblock title %}

{% block content %}
<h1>Login</h1>
<form method="post" action="/login">
    <input type="text" name="username" id="username" placeholder="Username">
    <br>
    <input type="password" name="password" name="password" placeholder="Password">
    <br>
    <input type="submit">
</form>
{% endblock content %}